.manage{
    background-color: #ffd154;
    text-align: center;
}
.manage ul{
    background-color: #fff;
    padding: 0;
}
.manage ul li{
    padding: 10px;
    border: #ffecb9 solid 1px;
}

.searchbar-2{
    width: 62%;
}
.search2 {
    border: solid 2px #ffd154;
    width: 50%;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search2-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search2 .search2-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #002795;
    font-size: 14px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search2-icon {
    height: 32px;
    width: 32px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #002795;
    font-size: 10px;
    bottom: 32px;
    position: relative;
    border-radius: 5px
}

.search2-icon:hover {
    background-color: #517bef;
    color:#fff;
}

.status-menu{
    padding: 9px 5px;
    border: 2px solid #ffd154;
    text-align: center;
    text-decoration: none;
    color: #ffd154;
    font-size: 14px;
}
.status-menu a{
    text-decoration: none;
    color: #ffd154;
}

.form-check{
    padding: 0;
}
.menu-active{
    background-color: #ffecb9;
}
.menu{
    text-transform: uppercase;
    align-items: center;
    height: 45px;
    padding: 10px;
}
.form-check a{
    text-decoration: none;
    color: #000;
}
.items{
    padding: 10px 0px;
    margin:0 10px 10px 10px;
}
.img-wrapper{
    padding:0px 0px 0px 20px;
}
.pro-img{
    width: 100px;
    height: 130px;
    object-fit: cover;
}.items a{
    font-weight: 600;
    text-decoration: none;
    color: #000;
}
.pro-price{
    color:#e93030;
    font-weight: 600;
}
.title{
    text-align:center; 
    text-transform:uppercase;
    padding: 40px;
}
.buying, .selling{
    color: #ffd154;
    font-weight: 600;
}
.bought, .sold{
    font-weight: 600;
    color: #23C957;
}
.cancel{
    font-weight: 600;
    color: #C92323;
}
.filter-status{

}
