.h2{
    font-size: 64px;
}
.h3{
    font-size: 32px;
}
.sp{
    font-size: 16px;
color: FF0000;

}
.rp{
    font-size: 16px;

}
.tx{
    font-size: 14px;
}

.material-icons.md-dark{
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive{
    color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-18{
    font-size: 18px;
}
.material-icons.md-24{
    font-size: 24px;
}

.bt1{
    width: 84px;
    height: 26px;
}

body,html{
    font-family: 'Merriweather', serif;
}
.button{
	padding: 8px 15px;
	width: auto;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
  	font-weight: 500;
  	transition: all 0.5s ease;
  	position: relative;
	background: #000000;
  	border: 0.2px solid #000000;
  	z-index: 1;
}
.button:after {
  	position: absolute;
  	content: "";
  	width: 0;
  	height: 100%;
  	top: 0;
  	right: 0;
  	z-index: -1;
  	background-color: #FFFFFF;
  	transition: all 0.5s ease;
}
.button:hover{
  	color: #000000;
	border: 0.2px solid #000000;	
}
.button:hover:after {
  	left: 0;
  	width: 100%;
}

/*---page MNCDT---*/

.rowlisttincanmua{
	width: auto;
	height: 150px;
	background-color: white;
}
/*---page chi tiết tin cần mua---*/


.hinh_tron {
	width: 130px;
	height: 130px;
	border: 1px #0000 solid;
	
    border-radius:50%;
}
.divtaikhoan{
	margin-top: 100px;
	border-top-left-radius:50%; 
	border-bottom-left-radius: 50%;
}
