.navbar a{
    text-decoration: none;
}
header{
    background-color: #ffd154;
    margin-bottom: 1rem;
}
.page-logo2{
    height:200px;
}
.action-menu a{
	margin-left: 10px;
}
.action-menu a:hover{
    color:#555;
}
.navbar{
	padding: 20px 0px;
	z-index: 10;
}
.action-manage svg{
    margin-right: 5px;
}


.search-box{
border-radius: 10px;
height: 45px;
padding: 0px 20px;
width: 90%;
border: 1px #222222 solid;
}
.search-btn:hover {
background-color: #000000;
color:#FFFFFF;
transition: all ease 0.5s;
border: none;
}
@media only screen and (max-width: 767px){
    #filter{
        display: none;
    }
}
@media only screen and (min-width: 767px){
    #filter{
        display: block;
    }
}
.filter-control{
    cursor: pointer;   
}
.filter-heading{
    padding: 5px 0px;
    margin-bottom: 25px;
    background-color: #e5e5e5;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center; 
}.filter-select{
    font-size: 13px;
    font-weight: 600;
    word-spacing: 2px;
}
.filter-places{
    padding: 10px 0px;
}
.filter-places ul{
    display: block;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}
.filter-places ul li{
    list-style:none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
.filter-price{
    padding-bottom: 10px;
}
.filter-price ul li{
    font-size: 12px;
    font-weight: 400;
}
.filter-price ul{
    display: block;
    margin-top: 15px;
    padding: 0;
    margin-bottom: 5px;
}
.filter-condition ul{
    display: block;
    margin-top: 15px;
    padding: 0;
    margin-bottom: 5px;
}
.filter-condition ul li{
    font-size: 12px;
    font-weight: 400;
}
.products{
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 0 10px ;	
}
.pro-detail{
	text-align: center;
	padding: 20px 0px;
}
.pro-img{
	text-align: center;
	position: relative;
	max-width: 100%;
	height: auto;
    height: 180px;
    object-fit: cover;
	transition: all 0.5s ease 0s;
}
.pro-name a{
    font-weight: 600;
    text-decoration: none;
    color: #000;
}
.switch-page{
    color:#002795;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    margin: 10px 0;
}
.switch-page:hover{
    color: #3c559a;
}
.catogery p{
    font-size: 16px;
    text-transform: uppercase;
    white-space: 2px;
    
}
.catogery-item p{
    text-transform: none;
    margin: 5px 0;
    font-size: 14px;
}
.catogery-item{
    padding: 3px;
    text-decoration: none;
    color: #000;
}
.catogery-item:hover{
    color: #000;
}
.card-inner{
    padding: 5px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff; 
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.5s
}
.catogery-img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.card-inner:hover {
    transform: scale(1.05)
}
.heading{
    padding: 40px 0px;
    text-align: center;
}

.heading a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
}
.uploadbtn{
    background-color: #002795;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    border: none;
    padding: 15px 12px ;
}
.uploadbtn:hover{
    
    background-color: #ffd154;
    border-radius: 10px;
    border: none;
}
.uploadbtn:hover:after {
    
    background-color: #ffd154;
    border-radius: 10px;
    
}
.uploadbtn::after{
    
    border-radius: 10px;
    
}
.uploadbtn a{
    text-decoration: none;
    color: #ffd154;

}
.uploadbtn a:hover{
    color: #002795;
}
.uploadtxt{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
}
.logo-txt{
    width: 150px;
    height: 100px;
    object-fit: contain;
}
.logo-txt1{
    height: 100px;
    width: 200px;
    object-fit: contain;
}
.page-logo2{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.ftr-background {
    color: #002795;
    background-color: #ffd154;
}

.ftr-whitespace {
    height: 60px;
    z-index: 5;
}

.ftr-image {
    padding-top: 10px;
    width: 300px;
    height: 300px;
}
#ftr-image{
    z-index: 11;
}

.ftr-shopname {
    text-align: center;
    margin: 30px;
}

.ftr-title {
    text-align: center;
    margin: 40px;
    font-weight: 600;
}

.ftr-li {
    margin: 10px;
}
.ftr-li a{
    text-decoration: none;
    color: #002795;

}
.ftr-li a:hover{
    color: #517bef;
}
.ftr-copyright {
    margin: 0px 0px 0px 40px;
}
.container-fluid {
    margin: 0px;
    padding: 0px;
}

footer p {
    margin: 0px;
}

.icon {
    height: 16px;
    width: 16px;
}
.ftr-logo{
    width: 200px;
    height: 150px;
    object-fit: contain;
}
.up-icon {
    height: 32px;
    width: 32px;
    fill: grey;
}
.up-icon:hover
{
    fill: #00CED1;
}

#ct-if {
    list-style-type: none;
}

.uploadbtn{
    position: fixed;
    /* Fixed/sticky position */
    bottom: 80px;
    /* Place the button at the bottom of the page */
    right: 10px;
    /* Place the button 30px from the right */
    z-index: 5;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */

    cursor: pointer;
}

footer {margin-top: 80px;}

.mua-btn{
    border: #002795 1px solid;
    width: 100%;
    background-color: #002795;
    color: #fff; 
    font-weight: 600;
    font-size: 14px;
}
.mua-btn:hover{
    color:#002795;
    border: #002795 1px solid;
}
.ban-btn{
    
    border: #ffd154 1px solid;
    width: 100%;
    background-color: #ffd154;
    color: #fff; 
    font-weight: 600;
    font-size: 14px; 
}
.ban-btn:hover{
    color: #ffd154;
    border: #ffd154 1px solid;
}
.btn-filter{
    padding: 5px;
    width: 100%;
    background-color: #002795;
    color: #fff;
}
.btn-filter:hover{
    background-color: #fff;
    color: #002795;
    border: #002795 1px solid;
}